{% extends 'layout/base.html' %}
{% block title %}Ekstrakulikuler - SMKN 4 Tasikmalaya{%endblock %} 

{% block content %}
<!-- Header -->
<section
  class="header-profil text-center text-white d-flex align-items-center justify-content-center"
>
  <div class="overlay"></div>
  <div class="position-relative">
    <h2 class="fw-bold mb-3">Ekstrakulikuler</h2>
    <p class="fs-6 small">Lorem ipsum dolor sit amet.</p>
  </div>
</section>
<section class="container py-5">
    <div class="row g-4 justify-content-center">
    {% for item in eskul %}
    <div class="col-lg-4 mb-4">
      <div class="card shadow-sm border-0 h-100 text-center px-4 py-2">
        <img src="{{ item.image_url }}" alt="{{ item.title }}" class="mx-auto mb-3 rounded-circle" width="80">
        <h5 class="fw-semibold">{{ item.title }}</h5>
        <p class="text-muted small">
            {{ item.description}}
        </p>  
    </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}